AIRFLOW_UID=50000
AIRFLOW_USERNAME=airflow

POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=change-me-admin
POSTGRES_ADMIN_DB=admin

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change-me-airflow
AIRFLOW_DB_NAME=airflow_db

SENSOR_DB_USER=sensor
SENSOR_DB_PASSWORD=change-me-sensor
SENSOR_DB_NAME=sensor_db

AIRFLOW_JWT_SECRET=replace-with-a-long-random-value

POSTGRES_HOST_PORT=5433
MQTT_HOST_PORT=1883
AIRFLOW_HOST_PORT=8080
DASHBOARD_HOST_PORT=8050
